<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">-->
    <meta name="format-detection" content="telephone=no" />
    <title>沟通中</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/newcj/css/themes.css?v=2017129">
    <link rel="stylesheet" type="text/css" href="__STATIC__/newcj/css/h5app.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/newcj/fonts/iconfont.css?v=2016070717">
    <link rel="stylesheet" type="text/css" href="__STATIC__/newcj/css/chat_list.css">
    <script src="__STATIC__//newcj/js/jquery.min.js"></script>
    <script src="__STATIC__/newcj/js/dist/flexible/flexible_css.debug.js"></script>
    <script src="__STATIC__/newcj/js/dist/flexible/flexible.debug.js"></script>

</head>
<body>
<div class='fui-page-group'>
    <div class="fui-statusbar"></div>
<div class='fui-page chat-page'>
	<div class="fui-header">
	    <div class="title">消息列表</div>
	    <div class="fui-header-right"></div>
	</div>

	<div class="fui-content navbar chat-fui-content" style="padding-bottom: 2rem;">
		<!--<div class="chat-list flex" >

			<div class="chat-img"  style="background-image: url('https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2049420520,1112982374&fm=26&gp=0.jpg')">
				<span class="badge" style="top: -0.1rem;left: 80%;">1</span>
			</div>
			<div class="chat-info">
				<p class="chat-merch flex">
					<span class="title t-28">魔力克</span>
					<span class="time">2017-12-14</span>
				</p>
				<p class="chat-text singleflow-ellipsis">你好</p>
			</div>
		</div>-->
	</div>
</div>
</div>
</body>
<script>
    var apiUri = "/api/chat/";
    var fromId ={$fromId};

    var ws = new WebSocket("ws://127.0.0.1:8282");
    ws.onmessage = function(e) {
        var message = eval("("+e.data+")");
        switch(message.type) {
			case "init" :
			    var bind = '{"type":"bind", "fromId":"'+fromId+'"}';
			    ws.send(bind);
			    return;
			case "text" :
			    $(".chat-fui-content").html("");
				loadMessage();
				return;
			case "say_img":
			    $(".chat-fui-content").html("");
			    loadMessage();
			    return;
		}
	};
	loadMessage();
    function loadMessage() {
        $.ajax({
            url:apiUri+"getList",
            type:'post',
            dataType:'json',
            data:{id:fromId},
            success:function(res) {
                $.each(res, function(index, value) {
                    $('.fui-content').append(
                        '<div class="chat-list flex" onclick = red("'+value.url+'")>'+
                        '<div class="chat-img"  style="background-image: url('+value.headerImg+')">'+
                        '<span class="badge" style="top: -0.1rem;left: 80%;">'+value.noReadMsgCount+'</span>'+
                        '</div>'+
                        '<div class="chat-info">'+
                        '<p class="chat-merch flex">'+
                        '<span class="title t-28">'+value.fromName+'</span>'+
                        '<span class="time">'+value.lastTime+'</span>'+
                        '</p>'+
                        '<p class="chat-text singleflow-ellipsis">'+value.lastMsg+'</p>'+
                        '</div>'+
                        '</div>'
                    );
                })
            }
        });
	}
	function red(url) {
        console.log(url);
        window.location.href=url;
    }
    /**
     *根据时间戳格式化为日期形式
     */
    function mydate(nS){

        return new Date(parseInt(nS) * 1000).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ");
    }

</script>

</html>
